APP_NAME=StudioBook
APP_ENV=production
APP_KEY=base64:Q4UAkHYXLCDzm6ZfBFHISISKAB4GoUqYc1TDrsbvZH0=
APP_DEBUG=false
APP_URL=https://GANTI_DENGAN_DOMAIN_INFINITYFREE_KAMU

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=GANTI_DENGAN_MYSQL_HOST
DB_PORT=3306
DB_DATABASE=GANTI_DENGAN_NAMA_DATABASE
DB_USERNAME=GANTI_DENGAN_USERNAME_DATABASE
DB_PASSWORD=GANTI_DENGAN_PASSWORD_DATABASE

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
