backend/vendor
backend/node_modules
backend/.env
backend/.env.backup
backend/.env.production
backend/storage/logs/*.log
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/framework/cache/data/*
backend/public/hot
backend/database/database.sqlite

frontend
laravel_app
laravel_app.zip
public.zip

.git
.gitignore
.vscode
readme
deploy
*.md
